[Unit]
Description=Framebuffer copy for TFT & touch driver
Conflicts=fbcp-ili9341.service
Before=fbcp-ili9341.service

[Service]
ExecStartPre=/usr/local/bin/load-pitft28-resistive-overlay.sh
ExecStart=/usr/local/bin/fbcp
ExecStopPost=/usr/local/bin/remove-pitft28-resistive-overlay.sh

[Install]
WantedBy=multi-user.target
